**/node_modules
**/venv
**/class_env
**/__pycache__
**/datasets/
server/backend/sketch_rnn/models
server/backend/sketch_rnn/old_models
**/training_logs
*.h5
*_env
*.jpg
*ssl/
server/sample_drawings
server/backend/sketch_rnn/cond_models/
sketch_rnn_outputs