<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />

    <title>React App</title>
  </head>
  <body>
    <h1>Illustrator</h1>
    <form action="/game">
      <div>
          <label>What's your username?</label>
          <input type="text" name="username">
      </div>
      <div>
          <label>Enter room id:</label>
          <input type="text" name="roomId">
      </div>
      <button type="submit">Join Room!</button>
    </form>

  </body>
</html>
