absl-py==0.9.0
apache-beam==2.23.0
appdirs==1.4.4
appnope==0.1.0
argon2-cffi==20.1.0
astor==0.8.1
astunparse==1.6.3
attrs==19.3.0
audioread==2.1.8
avro-python3==1.9.2.1
backcall==0.2.0
bleach==3.1.5
bokeh==2.1.1
bz2file==0.98
cachetools==3.1.1
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
cloudpickle==1.3.0
crcmod==1.7
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.2
dm-sonnet==2.0.0
dm-tree==0.1.5
docopt==0.6.2
dopamine-rl==3.1.7
entrypoints==0.3
fastavro==0.23.6
fasteners==0.15
Flask==1.1.2
Flask-Cors==3.0.8
Flask-SocketIO==4.3.1
flax==0.2.0
future==0.18.2
gast==0.3.3
gevent==20.6.2
gin-config==0.3.0
google-api-core==1.22.0
google-api-python-client==1.10.0
google-apitools==0.5.31
google-auth==1.20.1
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
google-cloud-bigquery==1.24.0
google-cloud-bigtable==1.0.0
google-cloud-core==1.4.1
google-cloud-datastore==1.7.4
google-cloud-dlp==0.13.0
google-cloud-language==1.3.0
google-cloud-pubsub==1.0.2
google-cloud-spanner==1.13.0
google-cloud-videointelligence==1.13.0
google-cloud-vision==0.42.0
google-pasta==0.2.0
google-resumable-media==0.5.1
googleapis-common-protos==1.52.0
greenlet==0.4.16
grpc-google-iam-v1==0.12.3
grpcio==1.31.0
grpcio-gcp==0.2.2
gunicorn==20.0.4
gym==0.17.2
h5py==2.10.0
hdfs==2.5.8
httplib2==0.17.4
idna==2.10
imageio==2.9.0
importlib-metadata==1.7.0
intervaltree==3.1.0
ipykernel==5.3.4
ipython
ipython-genutils==0.2.0
itsdangerous==1.1.0
jax==0.1.75
jaxlib==0.1.52
jedi==0.17.2
Jinja2==2.11.2
joblib==0.16.0
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.6
jupyter-core==4.6.3
jupyterlab==2.2.4
jupyterlab-server==1.2.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kfac==0.2.0
kiwisolver==1.2.0
librosa==0.8.0
llvmlite==0.32.1
magenta==2.1.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.0
mesh-tensorflow==0.1.16
mido==1.2.6
mir-eval==0.6
mistune==0.8.4
mock==2.0.0
monotonic==1.5
mpmath==1.1.0
msgpack==1.0.0
nbconvert==5.6.1
nbformat==5.0.7
networkx==2.4
note-seq==0.0.1
notebook==6.1.3
numba==0.49.1
numpy==1.18.5
oauth2client==4.1.3
oauthlib==3.1.0
opencv-python==4.3.0.38
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.0
pandocfilters==1.4.2
parso==0.7.1
pbr==5.4.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pooch==1.1.1
pretty-midi==0.2.9
prometheus-client==0.8.0
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.12.4
ptyprocess==0.6.0
pyarrow==0.17.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydot==1.4.1
pygame==1.9.6
pyglet==1.5.0
Pygments==2.6.1
pygtrie==2.3.3
pymongo==3.11.0
pyparsing==2.4.7
pypng==0.0.20
pyrsistent==0.16.0
python-dateutil==2.8.1
python-dotenv==0.14.0
python-engineio==3.13.1
python-rtmidi==1.1.2
python-socketio==4.6.0
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.2
requests==2.24.0
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.6
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.4.1
Send2Trash==1.5.0
six==1.15.0
sk-video==1.1.10
sortedcontainers==2.2.2
SoundFile==0.10.3.post1
sox==1.4.0
svgwrite==1.4
sympy==1.6.2
tabulate==0.8.7
tensor2tensor==1.15.7
tensorboard==1.13.1
tensorboard-plugin-wit==1.7.0
tensorflow==1.13.1
tensorflow-addons==0.11.1
tensorflow-datasets==3.2.1
tensorflow-estimator==1.13.0
tensorflow-gan==2.0.0
tensorflow-hub==0.8.0
tensorflow-metadata==0.22.2
tensorflow-probability==0.11.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
tf-slim==1.1.0
threadpoolctl==2.1.0
tifffile==2020.7.24
tornado==6.0.4
tqdm==4.48.2
traitlets==4.3.3
typeguard==2.9.1
typing-extensions==3.7.4.2
uritemplate==3.0.1
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.1.0
zope.event==4.4
zope.interface==5.1.0
