#root {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Comic Neue', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  height: 100%;
  font-family: 'Comic Neue', cursive;
}
